<% flash.each do |type, msg| %>
<%= content_tag :div, msg, class: "#{type} alert" %>
<% end %>
<section class="post">
  <div class="post-container">
    <div class="post-header">
    <h3> <%= @post.title %> by <%= @post.author.name %></h3>
    <p class="post-numbers">Comments: <%= @post.comments_counter || 0%>, Likes: <%= @post.likes_counter|| 0 %></p>
    </div>
    <p><%= @post.text %></p>
    <%= form_with url: "#{@post.id}/likes", method: :post do |form| %>
      <%= form.submit "Like", class: 'like-btn' %>
    <% end %>
    <% if can? :manage, @post %>
    <%= button_to "Delete", user_post_path(@user, @post), method: :delete %>   
    <% end %> 
  </div>
  <ul class="comment-list">
      <% @post.comments.includes([:author]).each do |comment| %>
        <li class="comment-post"><%= comment.author.name %>: <%= comment.text %> </li>
      <% end %>
      <% if can? :manage, @comment %>
       <%= button_to "Delete", user_post_comments_path(@comment.user, @post, @comment), method: :delete %>
      <% end %> 
    </ul>
     <%= form_with url:  "#{@post.id}/comments", scope: :comment, class: 'cmt-form' do |f| %>
    <%= f.text_area :text, placeholder: 'Write a comment...' %>
    <%= f.submit "Add comment" %>
  <% end %>
</section>